<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Places Near Me</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="home">
        <h1>Places Near Me NYC</h1>
        <div class="search">
            <form action="/" method="post">
                <input class="search-bar" name="user_zip" type="text" id="user_zip" placeholder="Enter your zip code" required>
                <button class="submit-button" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="result">
        {% if places_near_me %}
            <ul>
                {% for place in places_near_me %}
                    <p class="results"><a class="link" href="https://www.google.com/search?q={{ place }}" target="_blank">{{ place }}</a></p>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

</body>
</html>
